<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="fingertips.backend.admin.dto" />
        <package name="fingertips.backend.asset.dto" />
        <package name="fingertips.backend.challenge.dto" />
        <package name="fingertips.backend.transaction.dto" />
        <package name="fingertips.backend.member.dto" />
        <package name="fingertips.backend.home.dto" />
        <package name="fingertips.backend.member.sociallogin.dto" />
        <package name="fingertips.backend.test.dto" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/AdminMapper.xml" />
        <mapper resource="mapper/AssetMapper.xml" />
        <mapper resource="mapper/ChallengeMapper.xml" />
        <mapper resource="mapper/TransactionMapper.xml" />
        <mapper resource="mapper/MemberMapper.xml" />
        <mapper resource="mapper/HomeMapper.xml" />
        <mapper resource="mapper/SocialLoginMapper.xml" />
        <mapper resource="mapper/EmailMapper.xml" />
        <mapper resource="mapper/TestMapper.xml" />
    </mappers>
</configuration>