<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fingertips.backend.challenge.mapper.ChallengeMapper">
    <select id="challenge_getList" resultType="ChallengeDto" parameterType="ChallengeDto">
        select id,category,member_id,challenge_name,challenge_type,challenge_limit,detailed_category,start_date,end_date from challenge
    </select>


    <insert id="challenge_insert"  parameterType="ChallengeDto">
        insert into challenge(category,member_id, challenge_name, challenge_type, challenge_limit, detailed_category, start_date, end_date)
        values(#{category}, #{memberId}, #{challengeName}, #{challengeType}, #{challengeLimit}, #{detailedCategory}, #{startDate}, #{endDate})
    </insert>

    <delete id="challenge_delete" parameterType="ChallengeDto">
        delete from challenge where id=#{id}
    </delete>


    <!--   card_history 가져오기 왜? open ai로 질문하기 위해서~ -->
    <select id="cardHistory_getList" parameterType="CardHIstoryDto" resultType="CardHIstoryDto">
        select content from card_history where category=#{category}
    </select>


</mapper>

