<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fingertips.backend.consumption.mapper.ConsumptionMapper">
    <select id="getCardHistoryList" parameterType="int" resultType="CardConsumptionDTO">
        SELECT c.bank_name, c.card_name, c.card_image, ch.consumption_date, ch.consumption_time,
               cat.category_name AS category, ch.content, ch.amount,
               ch.card_id AS "CardID"
        FROM card_history ch
            JOIN card c ON ch.card_id = c.id
            JOIN category cat ON ch.category = cat.id
        WHERE c.member_id = #{memberId}
            AND c.conn_status = 1
        ORDER BY consumption_date DESC
    </select>

    <select id="getCardHistoryListByPeriod" parameterType="PeriodDTO" resultType="CardConsumptionDTO">
        SELECT cat.category_name AS category, ch.content, ch.amount
        FROM card_history ch
            JOIN card c ON ch.card_id = c.id
            JOIN category cat ON ch.category = cat.id
        WHERE c.member_id = #{memberId}
            AND c.conn_status = 1
            AND ch.consumption_date BETWEEN CONCAT(#{startYear}, '-', #{startMonth}, '-', #{startDay})
            AND CONCAT(#{endYear}, '-', #{endMonth}, '-', #{endDay});
    </select>

    <select id="getAccountHistoryList" parameterType="int" resultType="AccountConsumptionDTO">
        SELECT a.bank_name, a.account_name, a.account_book_image, ah.account_date, ah.account_time,
               cat.category_name AS category, ah.content, ah.amount
        FROM account_history ah
                 JOIN account_book a ON ah.account_id = a.id
                 JOIN category cat ON ah.category = cat.id
        WHERE a.member_id = #{memberId}
          AND a.conn_status = 1
        ORDER BY account_date DESC
    </select>
</mapper>
