<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fingertips.backend.home.mapper.HomeMapper">

    <select id="getBalanceByMemberIdx" resultType="BalanceDTO">
        SELECT account_idx, member_idx, bank_name, account_name, balance
        FROM account
        WHERE member_idx = #{memberIdx}
    </select>

    <select id="getChallengeByMemberIdx" resultType="HomeChallengeDTO">
        SELECT c.challenge_idx,
               c.challenge_limit,
               c.challenge_name,
               CASE
                   WHEN c.challenge_type = "횟수" THEN COALESCE(COUNT(ct.card_transaction_idx), 0)
                   WHEN c.challenge_type = "금액" THEN COALESCE(SUM(ct.amount), 0)
                   END AS cardHistoryCount
        FROM challenge c
                 LEFT JOIN card_transaction ct
                           ON ct.card_transaction_date BETWEEN c.challenge_start_date AND c.challenge_end_date
                               AND ct.card_transaction_description LIKE CONCAT('%', c.detailed_category, '%')
                               AND ct.category_idx = c.category_idx
        WHERE c.member_idx = #{memberIdx}
          AND c.is_delete = 0
          AND is_public = 1
          AND challenge_end_date >= CURDATE()
          AND challenge_status = '진행'
        GROUP BY c.challenge_idx, c.challenge_limit, c.challenge_type
        ORDER BY challenge_end_date ASC
            LIMIT 3;
    </select>

</mapper>
