<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fingertips.backend.member.mapper.MemberMapper">
    <select id="getMember" parameterType="String" resultType="MemberDTO">
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO member (member_id, password, member_name, social_type, social_id, birthday, gender, email, image_url, region, job, test_status, active_status, refresh_token, withdraw_date, role, join_date)
        VALUES (#{memberId}, #{password}, #{memberName}, #{socialType}, #{socialId}, #{birthday}, #{gender}, #{email}, #{imageUrl}, #{region}, #{job}, #{testStatus}, #{activeStatus}, #{refreshToken}, #{withdrawDate}, #{role}, NOW())
    </insert>

    <update id="setRefreshToken" parameterType="MemberDTO">
        UPDATE member SET refresh_token = #{refreshToken} WHERE id = #{id}
    </update>

    <select id="isEmailTaken" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM member WHERE email = #{email}
    </select>
</mapper>
