<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fingertips.backend.member.mapper.MemberMapper">
    <select id="getMemberByMemberId" parameterType="String" resultType="MemberDTO">
        SELECT *
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO member (member_id, password, member_name, birthday, gender, email)
        VALUES (#{memberId}, #{password}, #{memberName}, #{birthday}, #{gender}, #{email})
    </insert>

    <update id="updateLockStatus" parameterType="MemberDTO">
        UPDATE member
        SET login_locked = #{loginLocked}, login_lock_time = #{loginLockTime}
        WHERE member_id = #{memberId}
    </update>

    <update id="setRefreshToken" parameterType="MemberDTO">
        UPDATE member
        SET refresh_token = #{refreshToken}
        WHERE id = #{id}
    </update>

    <select id="findByNameAndEmail" parameterType="MemberIdFindDTO" resultType="String">
        SELECT member_id
        FROM member
        WHERE email = #{email} AND member_name = #{memberName}
    </select>

    <select id="isEmailTaken" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        WHERE email = #{email}
    </select>

    <select id="existsMemberId" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM member
        WHERE member_id = #{memberId}
    </select>
</mapper>
